<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Monitoring Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/api.js')}}"></script>
</head>
<body>
    <header>
        <div class="header-left">
            <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Logo">
            <p>Network Monitoring Demo</p>
        </div>
        <div class="header-right">
            <nav class="nav">
                <a href="#" class="nav-link">Profile</a>
                <a href="#" class="nav-link">Logout</a>
            </nav>
            <p class="current-date" id="current-date"></p>
        </div>
    </header>
    <main>
        <section class="alerts">
            <div class="alerts__header">
                <h2>Alerts</h2>
                <hr/>
                <figure>
                    <img src="{{ url_for('static', filename='img/alert.svg')}}" alt="Alert logo">
                    <span class="alerts-number" id="alerts-number">({{ alerts_number }})</span>
                </figure>
            </div>
            <!-- <p>There are no alerts at this time.</p> -->
            
            <div class="alerts-detail">
                <h3>Detail</h3>
                <ul id="alerts-list">
                    {% for alert in alerts %}
                        <li>{{ alert }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="graphics">
            <div class="graphics__header">
                <h2>Bandwidth Traffic</h2>
                <hr/>
            </div>
            <div class="graphics__canvas">
                <canvas id="bandwidthChart"></canvas>
            </div>
        </section>
        <section class="other1"></section>
        <section class="other2">
            <canvas id="packetLossChart"></canvas>
        </section>
    </main>
    <!-- <div style="text-align: center;">
        <canvas id="bandwidthChart"></canvas>
    </div>
    <div style="text-align: center;">
        <canvas id="packetLossChart"></canvas>
    </div> -->

    <footer>
        <p>© 2023 Network Monitoring Demo</p>
    </footer>
</body>
</html>